
#main-navigation {
    margin-bottom: 0px;
}
#main-navigation-inside { 
    border-top: 2px dashed #000000; 
    border-bottom: 2px dashed #000000; 
    margin: 0 auto; 
    padding: 0; 
    line-height: 20px;
}
#block-user-login {
    background: url(../images/local/bg_login.PNG) top left repeat;
    border: 8px solid #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3), inset 0 0 10px;
    -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3), inset 0 0 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3), inset 0 0 10px;
}
h1.page-title {
    font-weight: 200;
    color: #000000;
    text-shadow: 2px 2px 2px #b5b5b5;
}
h2, .h2 {
    margin: 20px 0 10px 5px;
    color: #000000;
    text-shadow: 2px 2px 2px #b5b5b5;
}
label {
    padding: 5px 10px;
    color: #000000;
}

.form-text, .form-textarea, .form-textarea-wrapper textarea, .grippie {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table tr.even {
    background-color: #ffffff;
}

table tr.odd {
    background-color: #eaf9fd;
}
.btn-default {
  background: #a4d0da url(http://i392.photobucket.com/albums/pp3/aliquintero/bg_button3_zpsbrqtduuv.png) 50% 50% repeat-x;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: #000000;
  background-position: 50% 70%;
  text-decoration: underline;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
}
a, a:visited { 
    color: #157d96; 
    text-decoration: underline;
}

a:hover { 
    color: #157d96; 
    text-shadow: 1px 1px 1px #b5b5b5;
}
#main-content {
  background: #85c4d3;
  border-top: 4px solid #000000;
  -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
#main {
  background-color: #ffffff;
  border-radius: 10px;
  border: 10px solid #ffffff;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  display: table; 
}
.region-sidebar-first .block {
  background-color: #ffffff;
  border-radius: 10px;
  border: 10px solid #ffffff;
}
.region-sidebar-first {
    width: 100%;
    display: table;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    border-radius: 10px
}
input[type="submit"] {
    margin: 20px auto;
}
#header-banner-wrapper {
    background: url(../images/local/sunrise_background1.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
}
